body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/background-header-100.jpg);
  background-size: cover;
  padding: 30px;
  border-top: 20px #11161D solid;
  font-size: 20px;
}

.box-title {
  text-align: center;
  background-color: #11161df5;
  color: #E6F3FF;
  padding: 20px;
  margin: 10px;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.cta { 
  background-color: #11161D;
  padding: 10px;
  border-radius: 10px;
  color: #E6F3FF;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 18px;
}

.cta-light {
  background-color: #E6F3FF;
  color: #11161D;
}

.section-light {
  background-color: #E6F3FF;
  padding: 30px;
  text-align: center;
  font-size: 16px;
}

h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 300;
}

.section-dark {
  background-color: #11161D;
  padding: 30px;
  color: #E6F3FF;
}

.card {
  background-color: #E6F3FF;
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  color: #11161D;
  font-size: 23px;
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #11161D;
  color: #ffffff54;
  padding: 20px;
  text-align: center;
  font-size: 12px;
}
